<!DOCTYPE html>
<html lang="en">
    <body>
        <header>
            <h1>
                Dashboard
            </h1>
            <p>
                Welcome to the Spotify Visualiser dashboard.
            </p>
        </header>
        <main>
            <section id="playlists">
                <h2>
                    Select a playlist
                </h2>
                <div id="playlist-selector">
                    <% for (const playlist of playlists) { %>
                    <div class="playlist">
                        <h4>
                            <%= playlist.name %>
                        </h4>
                    </div>
                    <% } %>
                </div>
            </section>
        </main>
    </body>
</html>