<!DOCTYPE html>
<html lang="en">
    <body>
        <header>
            <h1>
                Dashboard
            </h1>
            <p>
                Welcome to the Spotify Visualiser dashboard.
            </p>
        </header>
        <main>
            <section id="playlists">
                <h2>
                    Select a playlist
                </h2>
                <ul id="playlist-selector">
                    <% for (const playlist of playlists) { %>
                    <li>
                        <a href="/playlist/<%= playlist.id %>">
                            <%= playlist.name %>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </section>
        </main>
    </body>
</html>