<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/style.css" />
        <style>
            #poster h1 {
                font-size: 4rem;
            }

            #poster {
                width: 600px;
                margin: 0 auto;
                padding: 25px;
                text-align: center;
                background-color: red;
            }

            #festival-headliners {
                display: flex;
                justify-content: space-between;
                font-size: 2rem;
            }

            #festival-artists {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                font-size: 1.75rem;
            }

            #festival-artists h3 {
                padding: 0 5px;
            }

            #output {
                display: none;
            }
        </style>
    </head>
    <body>
        <main>
            <section id="poster">
                <h1>
                    #DreamFest
                </h1>
                <section id="festival-headliners">
                    <h2>
                        <%= artists[0].name.toUpperCase() %>
                    </h2>
                    <h2>
                        <%= artists[1].name.toUpperCase() %>
                    </h2>
                    <h2>
                        <%= artists[2].name.toUpperCase() %>
                    </h2>
                </section>
                <section id="festival-artists">
                    <% for (const artist of artists.splice(3)) { %>
                        <h3>
                            <%= artist.name.toUpperCase() %>
                        </h3>
                    <% } %>
                </section>
            </section>
            <button id="poster-download" type="button">
                Download Lineup
            </button>
            <section id="output"></section>
        </main>
        <footer>
            <script src="js/html2canvas.min.js"></script>
            <script>
                const poster = document.querySelector("#poster");
                const output = document.querySelector("#output");
                const downloadButton = document.querySelector("#poster-download");

                downloadButton.addEventListener("click", async () => {
                    const canvas = await html2canvas(poster);
                    const img = canvas.toDataURL("image/jpeg");

                    window.open(img);
                });
                (async () => output.append(await html2canvas(poster)))();
            </script>
        </footer>
    </body>
</html>